.gradient{
	-fx-background-color: linear-gradient(to bottom right, #1df26b, #26b95e);
}


.backgrounds{
	-fx-background-color: linear-gradient(to bottom right,#97BC62,#97BC62);
}

.buttons{
	-fx-background-color: linear-gradient(to bottom right, #f3e77c, #c7bd55);
	/*-*/
}

.loginPageButtons{
	-fx-background-color: linear-gradient(to bottom right, #1df26b, #26b95e);
}
.loginPageButtons:hover{
	-fx-cursor: hand;
	-fx-background-color: linear-gradient(to bottom right, #26b95e, #1df26b);
}

.buttons:hover{
	-fx-cursor: hand;
	-fx-background-color: linear-gradient(to bottom right, #c7bd55, #f3e77c);
	
}

.labelHeadsDashboards{
	-fx-padding: 10px 50px 10px 50px;
	-fx-font-size: 26px;
	-fx-text-fill: black;
	
}

.labelAdjustDay{
	-fx-padding: 10px 20px 10px 50px;
	-fx-font-size: 16px;
	-fx-text-fill: black;
}

.shadows{
	-fx-effect:dropshadow(three-pass-box, #2C2A29, 10, 0, 10, 10);
}

.labelShadows{
	-fx-effect:dropshadow(three-pass-box, #f3e77c, 10, 0, 10, 10);
}

.chartbg-content {
    -fx-background-color: black;
}
/* Vertical grid lines */
.chartbg-vertical-grid-lines {
    -fx-stroke: #000;
}

/* Horizontal grid lines */
.chartbg-horizontal-grid-lines {
    -fx-stroke: #000;
}


.table-view{
	-fx-background-color: transparent;
}

.table-view .column-header .food-name-column {
    -fx-background-color: #FFA07A; /* Change to your desired background color */
    -fx-text-fill: #ffffff; /* Change to your desired text color */
}

.table-view .column-header .calories-column {
    -fx-background-color: #87CEEB; /* Change to your desired background color */
    -fx-text-fill: #ffffff; /* Change to your desired text color */
}


.loginpageAnchor{
	-fx-background-color:rgba(203, 221, 176, 0.3);
	-fx-background-radius: 15;
	
}

.borderRadius{
	-fx-background-radius: 10px;
}

.rightRadius{
	-fx-background-radius: 0 10 10 0;
	
}

.leftRadius{
	-fx-background-radius: 10 0 0 10;
}